body {
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
  background: linear-gradient(120deg,#fff9e7,#efebbf);
}

.container {
  max-width: 900px;
  margin: auto;
  padding: 20px;
}

h1 {
  text-align: center;
  color: white;
}

.card {
  background: white;
  padding: 20px;
  margin: 15px 0;
  border-radius: 10px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

input {
  width: 95%;
  padding: 10px;
  margin: 8px 0;
  border-radius: 6px;
  border: 1px solid #ccc;
}

.btn {
  padding: 10px 15px;
  margin: 5px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #4CAF50;
  color: white;
  font-weight: bold;
  transition: 0.3s;
}

.btn:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

.add { background:#2196F3; }
.delete { background:#f44336; }

.list {
  margin-top: 20px;
}

.studentCard {
  background: white;
  padding: 15px;
  margin: 10px 0;
  border-radius: 10px;
  display:flex;
  justify-content:space-between;
  align-items:center;
  box-shadow: 0 3px 8px rgba(0,0,0,0.1);
}
select{
  width:100%;
  padding:10px;
  margin:8px 0;
  border-radius:6px;
}

.tag{
  padding:4px 8px;
  border-radius:6px;
  color:white;
  margin-left:5px;
  font-size:12px;
}

.full{ background:#4CAF50; }
.part{ background:#ff9800; }

